
# Dataset Configuration
datasets:
  dataset_1:
    name: 'ivu'
    root: '/mnt/experiment-2/AI4IS/data/gtiff_200m/ice_velocity_u/'
    class: 'Dataset_1'
    filename_glob: 'ice_velocity_u_*.tif'
    is_image: true
    bands: ['1']

  dataset_2:
    name: 'ivv'
    root: '/mnt/experiment-2/AI4IS/data/gtiff_200m/ice_velocity_v/'
    class: 'Dataset_2'
    filename_glob: 'ice_velocity_v_*.tif'
    is_image: true
    bands: ['1']

  mask_dataset:
    name: 'calving'
    root: '/mnt/experiment-2/AI4IS/data/calving/'
    class: 'Mask_dataset'
    filename_glob: '*.tif'
    is_image: false
    bands: ['1']

  combination:
    ivv & ivu & calving

# Model Configuration
model:
  type: 'unet'  # or 'loopunet' or whatever model defined or imported in model_wrapper
  backbone: 'resnet50'
  weights: 'imagenet'  # or None
  in_channels: 2
  num_classes: 1
  learning_rate: 0.001
  checkpoint_path: /mnt/experiment-3/torchgeo/968377319304808851/42163d8d88c642b3a1e67454c76f3eeb/checkpoints/epoch=1-step=200.ckpt # can be None if you don't want to use a checkpoint

# Loss function(s)
loss:
    name: 'dice'
    params:
      mode: 'binary'

# Metrics
metrics:
  iou:
    name: 'iou'
    params:
      task: 'binary'
  accuracy:
    name: 'accuracy'
    params:
      task: 'binary'
      threshold: 0.5

augmentations: # These are applied to all tensors equally (all inputs and masks), if you want to change this behaviour, define data_keys in AugmentationSequential in augmentations.py
  - name: RandomHorizontalFlip
    params:
      p: 0.5
  - name: RandomVerticalFlip
    params:
      p: 0.5
  - name: RandomRotation
    params:
      degrees: 10

# Training Configuration
training:
  batch_size: 10
  patch_size: [500, 500]
  samples_per_epoch: 100
  val_samples: 10
  num_workers: 10
  max_epochs: 5
  split_ratios: [0.7, 0.2, 0.1]
  seed: 42

# Logging Configuration
logging:
  tb_log_dir: '.'
  experiment_name: 'startrack_experiment'
  run_name: # 'whatever'
  train_log_every_n_steps: 1
  val_log_every_n_steps:  # Leaving this empty (None) makes the validation logging happen only at the end of the epoch
  model_log_every_n_epochs: 1
  save_top_k: 1
  monitor: 'val_loss'
  patience: 5
  description: # 'Describe your experiment here'
  tags: #{'tag 1': 1, 'tag 2': 2}

# Testing Configuration -> used only for tester.py (inference)
testing:
  checkpoint_path: /mnt/experiment-3/torchgeo/968377319304808851/42163d8d88c642b3a1e67454c76f3eeb/checkpoints/epoch=1-step=200.ckpt
  batch_size: 1
  patch_size: [500, 500]
  num_samples: 10  # limit number of samples for quick inference
  num_workers: 10
  save_predictions: True
  output_dir: "./inference_outputs"
  log_every_n_steps: 10
  accelerator: "auto"
  strategy: "auto"
  seed: 42
